# Build output artifacts (keep makefiles, exclude compiled objects/binaries)
*.o
*.d
*.su
*.cyclo
*.elf
*.bin
*.hex
*.map
Debug/StatorTester.list
default.size.stdout

# IDE files
.settings/
*.launch

# STM32CubeIDE / Eclipse
.cproject
.project

# Logs
*.log
